



.btn, .card, .gallery-img-wrap, blockquote, body {
    position: relative;
}
@media (min-width: 768px){
.navbar {
    border-radius: 0px;
}
}
.navbar {
   margin-bottom:0px;
}
.gallery-img-wrap .img-caption:after, .gallery-img-wrap:after {
    pointer-events: none;
    transition: opacity .3s;
    position: absolute;
}
a, blockquote, div, figcaption, h1, h2, h3, h4, h5, h6, input, li, ol, p, span, textarea, ul {
    font: inherit;
}
.btn, .mbr-text, body {
    font-style: normal;
}
.cid-rhcQoyVnsB .search input, .display-1, .display-2, .display-5, .display-7, .display-9, .form-block input, .form-block textarea, .google-map [data-state-details], body {
    font-family: Montserrat;
}
* {
    box-sizing: border-box;
    outline: 0;
}
:focus {
    outline: 0;
}
body {
    line-height: 1.5;
    color: #000;
}
section {
    background-color: #fff;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    
    padding: 30px 0;
}
.form-block, .is-builder .menu {
    overflow: visible;
}
.container, .container-fluid, section {
    position: relative;
    word-wrap: break-word;
}

body, html {
    height: auto;
    min-height: 100vh;
    overflow-x:hidden;
}
.card .card-wrapper, .card img, .gallery-img-wrap, .gallery-img-wrap amp-img {
    height: 100%}
.mbr-section-title {
    margin: 0;
    padding: 0;
    font-style: normal;
    line-height: 1.2;
    width: 100%}
.mbr-section-subtitle {
    line-height: 1.3;
    width: 100%}
.mbr-text {
    line-height: 1.6;
    width: 100%}
.mbr-figure {
    align-self: center;
}
.btn {
    text-align: center;
    margin: .4rem .8rem;
    border-width: 2px;
    border-style: solid;
    white-space: normal;
    transition: all .2s ease-in-out, box-shadow 2s ease-in-out;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    word-break: break-word;
    line-height: 1.5;
    letter-spacing: 1px;
}
.btn-form {
    padding: 1rem 2rem;
}
.btn-form:hover {
    cursor: pointer;
}
.note-popover .btn:after {
    display: none;
}
.card-title {
    margin: 0;
}
.card-img {
    border-radius: 0;
    width: auto;
    flex-shrink: 0;
}
.card, .card-img img {
    width: 100%}
.card {
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}
@media (max-width:767px) {
    .card: not(.last-child) {
    padding-bottom: 2rem;
}
.card .card-wrapper {
    flex-direction: column;
}
.gallery-img-wrap .caption-on-hover, .gallery-img-wrap:after, .gallery-img-wrap:hover:after {
    opacity: 0;
}
}.card img {
    object-fit: cover;
    object-position: center;
}
@media (min-width:992px) {
    .lg-pb {
    padding-bottom: 3rem;
}
}@media (max-width:991px) {
    .md-pb {
    padding-bottom: 2rem;
}
}.card-inner, .items-list {
    display: flex;
    flex-direction: column;
}
.items-list {
    list-style-type: none;
    padding: 0;
}
.items-list .list-item {
    padding: 1rem 2rem;
}
.card-head {
    padding: 1.5rem 2rem;
}
.card-price-wrap {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
}
.card-button {
    padding: 1rem;
    margin: 0;
}
.gallery-img-wrap:hover {
    cursor: pointer;
}
.gallery-img-wrap:hover .caption-on-hover, .gallery-img-wrap:hover .icon-wrap, .gallery-img-wrap:hover:after {
    opacity: 0;
}
.gallery-img-wrap:after {
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: 0;
}
.gallery-img-wrap .icon-wrap, .gallery-img-wrap .img-caption {
    position: absolute;
    z-index: 3;
    pointer-events: none;
}
.gallery-img-wrap .caption-on-hover, .gallery-img-wrap .icon-wrap {
    opacity: 0;
    transition: opacity .3s;
}
.gallery-img-wrap .icon-wrap {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: .5rem;
    border-radius: 50%}
.gallery-img-wrap .img-caption {
    left: 0;
    right: 0;
}
.gallery-img-wrap .img-caption.caption-top {
    top: 0;
}
.gallery-img-wrap .img-caption.caption-bottom {
    bottom: 0;
}
.gallery-img-wrap .img-caption:after {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: -1;
}
.is-builder .gallery-img-wrap .icon-wrap, .is-builder .gallery-img-wrap .img-caption>* {
    pointer-events: all;
}
.icons-list a {
    margin-right: 1rem;
}
.icons-list a:last-child {
    margin-right: 0;
}
.counter-container {
    position: relative;
}
.counter-container ol li {
    margin-bottom: 2rem;
}
.counter-container.stylizedCounters ol {
    counter-reset: section;
}
.counter-container.stylizedCounters ol li {
    z-index: 3;
    list-style: none;
}
.counter-container.stylizedCounters ol li:before {
    z-index: 2;
    position: absolute;
    left: 0;
    counter-increment: section;
    content: counters(section, ".") " ";
    text-align: center;
    margin: 0 10px;
    line-height: 37px;
    width: 40px;
    height: 40px;
    transition: all .2s;
    color: #232323;
    font-size: 25px;
    border-radius: 50%;
    font-weight: 700;
}
.timeline-wrap {
    position: relative;
}
.timeline-wrap .iconBackground {
    position: absolute;
    left: 50%;
    width: 20px;
    height: 20px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    font-size: 30px;
    display: inline-block;
    background-color: #232323;
    top: 20px;
    margin-left: -10px;
}
.separline {
    position: relative;
}
@media (max-width:768px) {
    .timeline-wrap .iconBackground {
    left: 0;
}
.separline:not(.last-child) {
    padding-bottom: 2rem;
}
}.separline:before {
    position: absolute;
    content: "";
    width: 2px;
    background-color: #232323;
    left: calc(50% - 1px);
    height: calc(100% - 20px);
    top: 40px;
}
@media (max-width:768px) {
    .separline: before {
    left: 0;
}
}amp-image-lightbox a.control {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 48px;
    top: 32px;
    z-index: 1000;
}
amp-image-lightbox a.control .close {
    position: relative;
}
amp-image-lightbox a.control .close:after, amp-image-lightbox a.control .close:before {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #fff;
}
.mbr-overlay, .mbr-parallax-bg {
    left: 0;
    position: absolute;
    right: 0;
    z-index: 0;
    top: 0;
    bottom: 0;
}
amp-image-lightbox a.control .close:before {
    transform: rotate(45deg);
}
amp-image-lightbox a.control .close:after {
    transform: rotate(-45deg);
}
.hidden {
    visibility: hidden;
}
.super-hide {
    display: none;
}
.inactive {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    -webkit-user-drag: none;
    user-drag: none;
}
.popover-content ul.show {
    min-height: 155px;
}
.mbr-fullscreen, .mbr-fullscreen .mbr-overlay {
    min-height: 100vh;
}
.mbr-white {
    color: #fff;
}
.mbr-black {
    color: #000;
}
.mbr-gray {
    color: #3a3a3a;
}
.align-left {
    text-align: left;
}
.align-left .list-item {
    justify-content: flex-start;
}
.align-center {
    text-align: center;
}
.align-center .list-item {
    justify-content: center;
}
.align-right {
    text-align: right;
}
.align-right .list-item {
    justify-content: flex-end;
}
@media (max-width:767px) {
    .align-center, .align-left, .align-right {
    text-align: center;
}
.align-center .list-item, .align-left .list-item, .align-right .list-item {
    justify-content: center;
}
}.mbr-light {
    font-weight: 300;
}
.mbr-regular {
    font-weight: 400;
}
.mbr-semibold {
    font-weight: 600;
}
.mbr-bold {
    font-weight: 700;
}
.mbr-section-btn {
    margin-left: -.8rem;
    margin-right: -.8rem;
    font-size: 0;
}
nav .mbr-section-btn {
    margin-left: 0;
    margin-right: 0;
}
.btn .mbr-iconfont, .btn.btn-sm .mbr-iconfont {
    cursor: pointer;
    margin-right: .5rem;
}
.btn.btn-md .mbr-iconfont, .navbar-logo {
    margin-right: .8rem;
}
[type=submit] {
    -webkit-appearance: none;
}
.mbr-fullscreen {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    align-items: center;
    -webkit-align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.menu-container, section.menu {
    min-height: 70px;
}
.mbr-parallax-bg {
    opacity: .5;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width:991px) {
    .menu-container {
    max-width: 100%;
    padding: 0 2rem;
}
}.navbar {
    z-index: 100;
    width: 100%}
.navbar-fixed-top {
    top: 0;
}
@media (max-width:767px) {
    .menu-container {
    padding: 0 1rem;
}
.navbar-logo amp-img {
    height: 70px;
}
}.navbar-caption-wrap {
    display: flex;
}
.navbar .navbar-collapse {
    display: flex;
    flex-basis: auto;
    align-items: center;
    align-self: flex-end;
    justify-content: flex-end;
}
@media (max-width:991px) {
    .navbar .navbar-collapse {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    min-height: 100vh;
    padding: 70px 2rem 1rem;
    z-index: 1;
}
.navbar.opened .navbar-collapse.collapsing, .navbar.opened .navbar-collapse.show {
    display: block;
}
.is-builder .navbar-collapse {
    position: fixed;
}
.navbar-nav {
    flex-direction: row;
}
}.navbar-nav .mbr-iconfont {
    margin-right: .2rem;
}
.nav-item {
    word-break: break-all;
}
.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-link, .navbar-caption {
    transition: all .2s;
    letter-spacing: 1px;
}
.nav-dropdown .dropdown-menu {
    min-width: 10rem;
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
    position: absolute;
    left: -42px;
    border: 1px solid #ddd;
    top: 37px;
}
.nav-dropdown .dropdown-menu .dropdown, .nav-item.dropdown {
    position: relative;
}
.nav-dropdown .dropdown-menu .dropdown-item {
    line-height: 2;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .25rem 1.5rem;
    white-space: nowrap;
}
.dropdown-menu .dropdown:hover>.dropdown-menu {
    opacity: 1;
    pointer-events: all;
}
.nav-dropdown .dropdown-submenu {
    top: 0;
    left: 100%;
    margin: 0;
}
.nav-item.dropdown .dropdown-menu {
    opacity: 0;
    pointer-events: none;
}
.nav-item.dropdown:hover>.dropdown-menu {
    opacity: 1;
    pointer-events: all;
}
.link.dropdown-toggle:after {
    content: '';
    margin-left: .25rem;
    border-top: .35em solid;
    border-right: .35em solid transparent;
    border-left: .35em solid transparent;
    border-bottom: 0;
}
.navbar .dropdown.open>.dropdown-menu {
    display: block;
}
@media (max-width:991px) {
    .is-builder .nav-dropdown .dropdown-menu {
    position: relative;
}
.nav-dropdown .dropdown-submenu {
    left: 0;
}
.dropdown-item {
    padding: .25rem 1.5rem;
    margin: 0;
    justify-content: center;
}
.dropdown-item:after {
    right: auto;
}
.navbar.opened .dropdown-menu {
    top: 0;
}
.dropdown-toggle[data-toggle=dropdown-submenu]:after {
    content: '';
    margin-left: .25rem;
    border-top: .35em solid;
    border-right: .35em solid transparent;
    border-left: .35em solid transparent;
    border-bottom: 0;
    top: 55%}
}.navbar-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
@media (max-width:991px) {
    .navbar-buttons {
    flex-direction: column;
}
}.menu-social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.google-map[data-state=loading] [data-state-details], .map-placeholder {
    display: none;
}
.menu-social-list a {
    margin: 0 .5rem;
}
button.navbar-toggler {
    position: absolute;
    right: 20px;
    top: 25px;
    width: 31px;
    height: 20px;
    cursor: pointer;
    transition: all .2s;
    align-self: center;
}
.hamburger span {
    position: absolute;
    right: 0;
    width: 30px;
    height: 2px;
    border-right: 5px;
}
.hamburger span:nth-child(1) {
    top: 0;
    transition: all .2s;
}
.hamburger span:nth-child(2), .hamburger span:nth-child(3) {
    top: 8px;
    transition: all .15s;
}
.hamburger span:nth-child(4) {
    top: 16px;
    transition: all .2s;
}
nav.opened .navbar-toggler:not(.hide) .hamburger span:nth-child(1) {
    top: 8px;
    width: 0;
    opacity: 0;
    right: 50%;
    transition: all .2s;
}
nav.opened .navbar-toggler:not(.hide) .hamburger span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: all .25s;
}
nav.opened .navbar-toggler:not(.hide) .hamburger span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transition: all .25s;
}
nav.opened .navbar-toggler:not(.hide) .hamburger span:nth-child(4) {
    top: 8px;
    width: 0;
    opacity: 0;
    right: 50%;
    transition: all .2s;
}
.ampstart-btn.hamburger {
    position: absolute;
    top: 31px;
    left: 30px;
    margin-left: auto;
    width: 30px;
    height: 20px;
    background: 0 0;
    border: none;
    cursor: pointer;
    z-index: 1000;
}
@media (min-width:992px) {
    .dropdown-menu .dropdown-toggle: after {
    content: '';
    border-bottom: .35em solid transparent;
    border-left: .35em solid;
    border-right: 0;
    border-top: .35em solid transparent;
    margin-left: .3rem;
    margin-top: -.3077em;
    position: absolute;
    right: 1.1538em;
    top: 50%}
}.close-sidebar {
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.close-sidebar span {
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    border-right: 5px;
}
.google-map, .lightbox, .lightbox .video-block, img.mbr-temp {
    width: 100%}
.close-sidebar span:nth-child(1) {
    transform: rotate(45deg);
}
.close-sidebar span:nth-child(2) {
    transform: rotate(-45deg);
}
.builder-sidebar {
    position: relative;
    min-height: 100vh;
    z-index: 1030;
    padding: 1rem 2rem;
    max-width: 20rem;
}
.builder-sidebar .dropdown:hover>.dropdown-menu {
    position: relative;
    text-align: center;
}
section.sidebar-open:before {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .2);
    z-index: 1040;
}
.map-placeholder h4 {
    padding-top: 5rem;
    color: #767676;
    text-align: center;
}
.google-map {
    position: relative;
}
@media (max-width:992px) {
    .google-map {
    padding: 0;
    margin: 0;
}
}.google-map [data-state-details] {
    color: #6b6763;
    height: 1.5em;
    margin-top: -.75em;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%}
.google-map[data-state] {
    background: #e9e5dc;
}
.lightbox {
    background: rgba(0, 0, 0, .8);
    height: 100%;
    position: absolute;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.is-builder .nodisplay+img[async], .is-builder .nodisplay+img[decoding=async], .is-builder amp-img>a+img[async], .is-builder amp-img>a+img[decoding=async], .is-builder section.horizontal-menu .ampstart-btn, .placeholder-loader .amp-active>div, textarea[type=hidden] {
    display: none;
}
div[submit-error], div[submit-success] {
    padding: 1rem;
    margin-bottom: 1rem;
}
amp-img img {
    max-height: 100%;
    max-width: 100%}
.rounded {
    border-radius: 50%}
html:not(.is-builder) amp-img>a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.is-builder .temp-amp-sizer {
    position: absolute;
}
.is-builder amp-vimeo .temp-amp-sizer, .is-builder amp-youtube .temp-amp-sizer {
    position: static;
}
.is-builder section.horizontal-menu .dropdown-menu {
    z-index: auto;
    opacity: 1;
    pointer-events: auto;
}
.is-builder section.horizontal-menu .nav-dropdown .link.dropdown-toggle[aria-expanded=true] {
    margin-right: 0;
    padding: .667em 1em;
}
.container, .container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
div.placeholder {
    z-index: 4;
    background: rgba(255, 255, 255, .5);
}
div.placeholder svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: auto;
}
div.placeholder svg circle.big {
    animation: big-anim 3s linear infinite;
}
div.placeholder svg circle.small {
    animation: small-anim 1.5s linear infinite;
}
@keyframes big-anim {
    from {
    stroke-dashoffset: 900;
}
to {
    stroke-dashoffset: 0;
}
}@keyframes small-anim {
    from {
    stroke-dashoffset: 850;
}
to {
    stroke-dashoffset: 0;
}
}.container {
    width: 100%}
@media (max-width:767px) {
    .container {
    max-width: 100%}
}@media (min-width:768px) {
    .container {
    max-width: 100%}
}@media (min-width:992px) {
    .container {
    max-width: 960px;
}
}@media (min-width:1200px) {
    .container {
    max-width: 100%}
}.container-fluid {
    width: 100%}
.mbr-m-sub-1, .mbr-row {
    margin-left: -1rem;
    margin-right: -1rem;
}
.media-container-row {
    display: flex;
    flex-wrap: wrap;
}
@media (min-width:992px) {
    .media-container-row {
    flex-wrap: nowrap;
}
}.mbr-flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.mbr-jc-s {
    justify-content: flex-start;
}
.mbr-jc-c {
    justify-content: center;
}
.mbr-jc-e {
    justify-content: flex-end;
}
.mbr-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.mbr-row-reverse {
    flex-direction: row-reverse;
}
.mbr-column {
    flex-direction: column;
}
@media (max-width:767px) {
    .mbr-col-sm-12, .mbr-col-sm-6 {
    padding-right: 1rem;
    padding-left: 1rem;
}
.mbr-col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%}
.mbr-col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%}
}@media (min-width:768px) {
    .mbr-col-md-3, .mbr-col-md-4, .mbr-col-md-5 {
    padding-right: 1rem;
    padding-left: 1rem;
}
.mbr-col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%}
.mbr-col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%}
.mbr-col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%}
.mbr-col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: .3rem;
    padding-left: .3rem;
}
.mbr-col-md-10, .mbr-col-md-12, .mbr-col-md-7, .mbr-col-md-8 {
    padding-right: 1rem;
    padding-left: 1rem;
}
.mbr-col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%}
.mbr-col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%}
.mbr-col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%}
.mbr-col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%}
}@media (min-width:992px) {
    .mbr-col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    padding-right: 1rem;
    padding-left: 1rem;
}
.mbr-col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding-right: 5px;
    padding-left: 5px;
}
.mbr-col-lg-10, .mbr-col-lg-12, .mbr-col-lg-4, .mbr-col-lg-5, .mbr-col-lg-6, .mbr-col-lg-7, .mbr-col-lg-8, .mbr-col-lg-9 {
    padding-right: 1rem;
    padding-left: 1rem;
}
.mbr-col-lg-4 {
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%}
.mbr-col-lg-5 {
    -ms-flex: 0 0 41.666%;
    flex: 0 0 41.666%;
    max-width: 41.666%}
.mbr-col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%}
.mbr-col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%}
.mbr-col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%}
.mbr-col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%}
.mbr-col-lg-10 {
    -ms-flex: 0 0 83.3333%;
    flex: 0 0 83.3333%;
    max-width: 83.3333%}
.mbr-col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%}
}@media (min-width:1200px) {
    .mbr-col-xl-4, .mbr-col-xl-7, .mbr-col-xl-8 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.mbr-col-xl-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%}
.mbr-col-xl-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%}
.mbr-col-xl-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%}
.mbr-col-xl-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%}
}.cid-rgVr6nrTA4 .container, .cid-rgVrt4Q0UQ .container, .cid-rhbP4MQmLL .container {
    max-width: 1200px;
}
.mbr-pt-1 {
    padding-top: .5rem;
}
.mbr-pt-2 {
    padding-top: 1rem;
}
.mbr-pt-3 {
    padding-top: 1.5rem;
}
.mbr-pt-4 {
    padding-top: 2rem;
}
.mbr-pt-5 {
    padding-top: 3rem;
}
.mbr-pb-1 {
    padding-bottom: .5rem;
}
.mbr-pb-2 {
    padding-bottom: 1rem;
}
.mbr-pb-3 {
    padding-bottom: 1.5rem;
}
.mbr-pb-4 {
    padding-bottom: 2rem;
}
.mbr-pb-5 {
    padding-bottom: 3rem;
}
.mbr-px-1 {
    padding-left: .5rem;
    padding-right: .5rem;
}
.mbr-px-2 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.mbr-px-3 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.mbr-px-4 {
    padding-left: 2rem;
    padding-right: 2rem;
}
@media (max-width:991px) {
    .mbr-px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}
}.mbr-px-5 {
    padding-left: 3rem;
    padding-right: 3rem;
}
@media (max-width:768px) {
    .mbr-m-sub-1 {
    margin-left: 0;
    margin-right: 0;
}
}.mbr-py-1 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.mbr-py-2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
@media (max-width:767px) {
    .mbr-py-2 {
    padding-top: 0;
    padding-bottom: 0;
}
}.mbr-py-3 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
@media (max-width:991px) {
    .mbr-px-5 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.mbr-py-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
}.mbr-py-4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
@media (max-width:991px) {
    .mbr-py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
}.mbr-py-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
@media (max-width:991px) {
    .mbr-py-5 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
}.mbr-p-1 {
    padding: .5rem;
}
.mbr-p-2 {
    padding: 1rem;
}
.mbr-p-3 {
    padding: 1.5rem;
}
@media (max-width:991px) {
    .mbr-p-3 {
    padding: 1rem;
}
}.mbr-p-4 {
    padding: 2rem;
}
@media (max-width:991px) {
    .mbr-p-4 {
    padding: 1rem;
}
}.mbr-p-5 {
    padding: 3rem;
}
@media (max-width:991px) {
    .mbr-p-5 {
    padding: 1rem;
}
}.mbr-ml-auto {
    margin-left: auto;
}
.mbr-mr-auto {
    margin-right: auto;
}
.mbr-m-auto {
    margin: auto;
}
.form-block {
    z-index: 1;
    background-color: transparent;
    padding: 3rem;
    position: relative;
}
.form-block .mbr-overlay {
    z-index: -1;
}
@media (max-width:992px) {
    .form-block {
    padding: 1rem;
}
}.form-block input, .form-block textarea {
    border-radius: 0;
    background-color: #fff;
    margin: 0;
    transition: .4s;
    width: 100%;
    border: 1px solid #e0e0e0;
    padding: 11px 1rem;
}
form .fieldset {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.field {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    padding: .5rem;
}
@media (max-width:768px) {
    .field {
    flex-basis: 100%}
}textarea {
    width: 100%;
    margin-right: 0;
}
.text-field {
    flex-basis: 100%;
    flex-grow: 1rem;
    flex-shrink: 1;
    padding: .5rem;
}
amp-img, img {
    height: 100%;
    width: 100%}

.amp-carousel-button:hover, .dots-wrapper .dots span:hover {
    opacity: 1;
}
.is-builder .preview button:before {
    display: block;
    position: absolute;
    content: '';
    background-color: #efefef;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
}
.hidden-slide {
    display: none;
}
.visible-slide {
    display: flex;
}
.dots-wrapper .dots {
    margin: 4px 8px;
}
.dots-wrapper .dots span {
    cursor: pointer;
    border-radius: 12px;
    display: block;
    height: 24px;
    width: 24px;
    transition: .4s;
    border: 10px solid #ccc;
}
.dots-wrapper .dots span.current {
    outline: 0;
    width: 40px;
    opacity: 1;
}
.amp-carousel-button {
    outline: 0;
    border-radius: 50%;
    border: 10px solid transparent;
    transform: scale(1.5) translateY(-50%);
    height: 45px;
    width: 45px;
    transition: .4s;
    cursor: pointer;
}
.amp-carousel-button-next {
    background-position: 75% 50%}
.amp-carousel-button-prev {
    background-position: 25% 50%}
button.btn-img {
    cursor: pointer;
}
.iconfont-wrapper {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
}
.amp-iconfont {
    vertical-align: middle;
    width: 1.5rem;
    font-size: 1.5rem;
}
@media (min-width:1400px) {
    .container-fluid {
    padding-right: 0rem;
    padding-left: 0rem;
}
}blockquote {
    border-color: #4e84c2;
}
div[submit-success] {
    background: #365c9a;
}
div[submit-error] {
    background: #b2ccd2;
}
.display-1 {
    font-size: 3.2rem;
    line-height: 1;
}
.display-2 {
    font-size: 39px;
    line-height: 1.2;
    font-weight: 700;
    padding-top: 25px;
    padding-bottom: 35px;
}
.display-4 {
    font-family: Montserrat;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.3;
}
.display-5 {
    font-size: 1.6rem;
    line-height: 1.4;
}
.display-7 {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.65;
}
.form-block input, .form-block textarea {
    font-size: 1.2rem;
    line-height: 1.6;
}
@media (max-width:768px) {
    .display-1 {
    font-size: 2.56rem;
    font-size: calc(1.77rem + (3.2 - 1.77) * ((100vw - 20rem)/ (48 - 20)));
    line-height: calc(1.4 * (1.77rem + (3.2 - 1.77) * ((100vw - 20rem)/ (48 - 20))));
}
.display-2 {
    font-size: 2rem;
    font-size: calc(1.525rem + (2.5 - 1.525) * ((100vw - 20rem)/ (48 - 20)));
    line-height: calc(1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem)/ (48 - 20))));
}
.display-4 {
    font-size: .8rem;
    font-size: calc(1rem + (1 - 1) * ((100vw - 20rem)/ (48 - 20)));
    line-height: calc(1.4 * (1rem + (1 - 1) * ((100vw - 20rem)/ (48 - 20))));
}
.display-5 {
    font-size: 1.28rem;
    font-size: calc(1.21rem + (1.6 - 1.21) * ((100vw - 20rem)/ (48 - 20)));
    line-height: calc(1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem)/ (48 - 20))));
}
.display-7 {
    font-size: .96rem;
    font-size: calc(1.07rem + (1.2 - 1.07) * ((100vw - 20rem)/ (48 - 20)));
    line-height: calc(1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem)/ (48 - 20))));
}
}.display-1 .mbr-iconfont-btn {
    font-size: 3.2rem;
    width: 3.2rem;
}
.display-2 .mbr-iconfont-btn {
    font-size: 2.5rem;
    width: 2.5rem;
}
.display-4 .mbr-iconfont-btn {
    font-size: 1rem;
    width: 1rem;
}
.display-5 .mbr-iconfont-btn {
    font-size: 1.6rem;
    width: 1.6rem;
}
.display-7 .mbr-iconfont-btn {
    font-size: 1.2rem;
    width: 1.2rem;
}
.btn, .btn-lg, .btn-md, .btn-sm {
    padding: 10px 30px;
    border-radius: 0;
}
.bg-primary {
    background-color: #4e84c2;
}
.bg-success {
    background-color: #365c9a;
}
.bg-info {
    background-color: #e96188;
}
.bg-warning {
    background-color: #fac769;
}
.bg-danger {
    background-color: #b2ccd2;
}
.btn-secondary, .btn-secondary.active, .btn-secondary:active {
    background-color: #ca4336;
    border-color: #ca4336;
    color: #fff;
}
.btn-secondary.disabled, .btn-secondary.focus, .btn-secondary:disabled, .btn-secondary:focus, .btn-secondary:hover {
    color: #fff;
    background-color: #7a2820;
    border-color: #7a2820;
}
.btn-info, .btn-info.active, .btn-info:active {
    background-color: #e96188;
    border-color: #e96188;
    color: #fff;
}
.btn-info.disabled, .btn-info.focus, .btn-info:disabled, .btn-info:focus, .btn-info:hover {
    color: #fff;
    background-color: #c81c4d;
    border-color: #c81c4d;
}
.btn-success, .btn-success.active, .btn-success:active {
    background-color: #365c9a;
    border-color: #365c9a;
    color: #fff;
}
.btn-success.disabled, .btn-success.focus, .btn-success:disabled, .btn-success:focus, .btn-success:hover {
    color: #fff;
    background-color: #1c2f4e;
    border-color: #1c2f4e;
}
.btn-warning, .btn-warning.active, .btn-warning:active {
    background-color: #fac769;
    border-color: #fac769;
    color: #614003;
}
.btn-warning.disabled, .btn-warning.focus, .btn-warning:disabled, .btn-warning:focus, .btn-warning:hover {
    color: #614003;
    background-color: #f5a208;
    border-color: #f5a208;
}
.btn-danger, .btn-danger.active, .btn-danger:active {
    background-color: #b2ccd2;
    border-color: #b2ccd2;
    color: #fff;
}
.btn-danger.disabled, .btn-danger.focus, .btn-danger:disabled, .btn-danger:focus, .btn-danger:hover {
    color: #fff;
    background-color: #72a1ac;
    border-color: #72a1ac;
}
.btn-primary, .btn-primary.active, .btn-primary:active {
    background-color: #4e84c2;
    border-color: #4e84c2;
    color: #fff;
}
.btn-primary.disabled, .btn-primary.focus, .btn-primary:disabled, .btn-primary:focus, .btn-primary:hover {
    color: #fff;
    background-color: #2c527e;
    border-color: #2c527e;
}
.btn-black, .btn-black.active, .btn-black:active {
    background-color: #010101;
    border-color: #010101;
    color: #fff;
}
.btn-black.disabled, .btn-black.focus, .btn-black:disabled, .btn-black:focus, .btn-black:hover {
    color: #fff;
    background-color: #000;
    border-color: #000;
}
.btn-white, .btn-white.active, .btn-white:active {
    background-color: #00096;
    border-color: #00096;
    color: #fff!important;
}
.btn-white.disabled, .btn-white.focus, .btn-white:disabled, .btn-white:focus, .btn-white:hover {
    color: #7d7d7d;
    background-color: #c9c9c9;
    border-color: #c9c9c9;
}
.btn-primary-outline, .btn-primary-outline.active, .btn-primary-outline:active {
    background: 0 0;
    border-color: #4e84c2;
    color: #4e84c2;
}
.btn-primary-outline.disabled, .btn-primary-outline.focus, .btn-primary-outline:disabled, .btn-primary-outline:focus, .btn-primary-outline:hover {
    color: #fff;
    background-color: #4e84c2;
    border-color: #4e84c2;
}
.btn-secondary-outline, .btn-secondary-outline.active, .btn-secondary-outline:active {
    background: 0 0;
    border-color: #ca4336;
    color: #ca4336;
}
.btn-secondary-outline.disabled, .btn-secondary-outline.focus, .btn-secondary-outline:disabled, .btn-secondary-outline:focus, .btn-secondary-outline:hover {
    color: #fff;
    background-color: #ca4336;
    border-color: #ca4336;
}
.btn-info-outline, .btn-info-outline.active, .btn-info-outline:active {
    background: 0 0;
    border-color: #e96188;
    color: #e96188;
}
.btn-info-outline.disabled, .btn-info-outline.focus, .btn-info-outline:disabled, .btn-info-outline:focus, .btn-info-outline:hover {
    color: #fff;
    background-color: #e96188;
    border-color: #e96188;
}
.btn-success-outline, .btn-success-outline.active, .btn-success-outline:active {
    background: 0 0;
    border-color: #365c9a;
    color: #365c9a;
}
.btn-success-outline.disabled, .btn-success-outline.focus, .btn-success-outline:disabled, .btn-success-outline:focus, .btn-success-outline:hover {
    color: #fff;
    background-color: #365c9a;
    border-color: #365c9a;
}
.btn-warning-outline, .btn-warning-outline.active, .btn-warning-outline:active {
    background: 0 0;
    border-color: #fac769;
    color: #fac769;
}
.btn-warning-outline.disabled, .btn-warning-outline.focus, .btn-warning-outline:disabled, .btn-warning-outline:focus, .btn-warning-outline:hover {
    color: #614003;
    background-color: #fac769;
    border-color: #fac769;
}
.btn-danger-outline, .btn-danger-outline.active, .btn-danger-outline:active {
    background: 0 0;
    border-color: #b2ccd2;
    color: #b2ccd2;
}
.btn-danger-outline.disabled, .btn-danger-outline.focus, .btn-danger-outline:disabled, .btn-danger-outline:focus, .btn-danger-outline:hover {
    color: #fff;
    background-color: #b2ccd2;
    border-color: #b2ccd2;
}
.btn-black-outline, .btn-black-outline.active, .btn-black-outline:active {
    background: 0 0;
    border-color: #010101;
    color: #010101;
}
.btn-black-outline.disabled, .btn-black-outline.focus, .btn-black-outline:disabled, .btn-black-outline:focus, .btn-black-outline:hover {
    color: #fff;
    background-color: #010101;
    border-color: #010101;
}
.btn-white-outline, .btn-white-outline.active, .btn-white-outline:active {
    background: 0 0;
    border-color: #fcfcfc;
    color: #fcfcfc;
}
.btn-white-outline.disabled, .btn-white-outline.focus, .btn-white-outline:disabled, .btn-white-outline:focus, .btn-white-outline:hover {
    color: #7d7d7d;
    background-color: #fcfcfc;
    border-color: #fcfcfc;
}
.text-primary {
    color: #4e84c2;
}
.text-secondary {
    color: #ca4336;
}
.text-success {
    color: #365c9a;
}
.text-info {
    color: #e96188;
}
.text-warning {
    color: #fac769;
}
.text-danger {
    color: #b2ccd2;
}
.text-white {
    color: #fcfcfc;
    text-decoration: underline;
}
.text-black {
    color: #010101;
}
.amp-iconfont, .mbr-iconfont, a[class*=text-] {
    transition: .2s ease-in-out;
}
.amp-iconfont {
    color: #4e84c2;
}
a.text-primary:focus, a.text-primary:hover {
    color: #1f3a59;
}
a.text-secondary:focus, a.text-secondary:hover {
    color: #521b15;
}
a.text-success:focus, a.text-success:hover {
    color: #0e1829;
}
a.text-info:focus, a.text-info:hover {
    color: #9b163c;
}
a.text-warning:focus, a.text-warning:hover {
    color: #c38107;
}
a.text-danger:focus, a.text-danger:hover {
    color: #578994;
}
a.text-black:focus, a.text-black:hover {
    color: #ccc;
}
.alert-success {
    background-color: #365c9a;
}
.alert-info {
    background-color: #e96188;
}
.alert-warning {
    background-color: #fac769;
}
.alert-danger {
    background-color: #b2ccd2;
}
.mbr-plan-header.bg-primary .mbr-plan-price-desc, .mbr-plan-header.bg-primary .mbr-plan-subtitle {
    color: #adc6e3;
}
.mbr-plan-header.bg-success .mbr-plan-price-desc, .mbr-plan-header.bg-success .mbr-plan-subtitle {
    color: #7e9ed2;
}
.mbr-plan-header.bg-danger .mbr-plan-price-desc, .mbr-plan-header.bg-danger .mbr-plan-subtitle, .mbr-plan-header.bg-info .mbr-plan-price-desc, .mbr-plan-header.bg-info .mbr-plan-subtitle, .mbr-plan-header.bg-warning .mbr-plan-price-desc, .mbr-plan-header.bg-warning .mbr-plan-subtitle {
    color: #fff;
}
amp-carousel {
    overflow: hidden;
}
.cid-rgVq9otPo6 {
    background-color: #000;
    padding: 0;
    overflow: visible;
}
.cid-rgVq9otPo6 .navbar {
    background: #000;
    padding:15px 0px;
}
.cid-rgVq9otPo6 .navbar-caption {
    line-height: inherit;
}
@media (max-width:991px) {
    .cid-rgVq9otPo6 .navbar .navbar-collapse {
    background: #fff;
    right: auto;
    left: 0;
}
}.cid-rgVq9otPo6 .nav-link {
    padding: .667em 1em;
    color: #fff;
}
.cid-rgVq9otPo6 .dropdown-item.active, .cid-rgVq9otPo6 .dropdown-item:active {
    background-color: transparent;
}
.cid-rgVq9otPo6 .dropdown-menu {
    background: #fff;
    padding: 0;
}
.cid-rgVq9otPo6 .builder-sidebar, .cid-rgVq9otPo6 .hamburger span {
    background-color: #fff;
}
.cid-rgVq9otPo6 .close-sidebar:focus {
    outline: #4e84c2 auto 2px;
}
.cid-rgVq9otPo6 .close-sidebar span {
    background-color: #3a3a3a;
}
.cid-rgVq9otPo6 .iconfont-wrapper {
    height: 1.6rem;
    width: 1.6rem;
    display: inline-block;
}
.cid-rgVq9otPo6 .iconfont-wrapper .amp-iconfont {
    vertical-align: middle;
    font-size: 1.6rem;
    width: 1.6rem;
    color: #3a3a3a;
}
.cid-rgVq9otPo6 .dropdown-item {
    background-color: transparent;
    border-bottom: 1px solid #efefef;
}
@media (min-width:992px) {
    .cid-rgVq9otPo6 .navbar-collapse {
    width: 16%;
    justify-content: space-between;
    align-self: center;
}
}.cid-rhcQoyVnsB {
    padding: 0;
}
.cid-rhcQoyVnsB .mbr-overlay {
    background: #1d242c;
    opacity: .5;
}
.cid-rhcQoyVnsB .search {
    width: 65%;
    margin: 20px auto 0;
    transition: all .5s ease;
}
.cid-rgVqDuLwTz .icon, .cid-rgVqLqLO6T .card-box, .cid-rgVqLqLO6T .icon {
    transition: all .3s;
}
.cid-rhcQoyVnsB .search input {
    background-color: #fff;
    border: 1px solid #fff;
    padding: 12px 0 11px 7%;
    width: 97%;
    font-size: 14px;
    color: #333;
    outline: 0;
    margin: 0;
}
.cid-rhcQoyVnsB .btn-search a {
    background: linear-gradient(0deg, #156c97 0, #4b9fbb 100%);
    filter: padding: 12px 20px;
    border-radius: 0;
    padding: 12px 20px;
    margin-left: -4px;
    font-size: 24px;
    color: #fff;
}
.cid-rgVqCjXHWa, .cid-rgVqDuLwTz, .cid-rgVqi0YegI, .cid-rgVqkMLNrN {
    background-color: #fff;
}
.cid-rgVqkMLNrN {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
@media (max-width:768px) {
    .cid-rgVqkMLNrN .title-wrap {
    padding-bottom: 2rem;
}
}.cid-rgVqi0YegI {
    padding-top: 0;
    padding-bottom: 0;
}
.cid-rgVqi0YegI .card, .cid-rgVqi0YegI .container-fluid {
    padding: 0;
}
.cid-rgVqi0YegI .mbr-row {
    position: relative;
}
.cid-rgVqDuLwTz .card-box, .cid-rgVqi0YegI .card-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cid-rgVqi0YegI .card-btn {
    margin: 0;
    z-index: 2;
}
.cid-rgVqi0YegI .btn-white, .cid-rgVqi0YegI .btn-white.active, .cid-rgVqi0YegI .btn-white:active {
    color: #000;
}
.cid-rgVqi0YegI .btn-white.active:hover, .cid-rgVqi0YegI .btn-white:active:hover, .cid-rgVqi0YegI .btn-white:hover {
    background: #fff;
    border-color: #fff;
}
.cid-rgVqi0YegI .btn {
    padding: .5rem 1.5rem;
    opacity: .9;
    font-weight: 300;
    width: max-content;
}
.cid-rgVqi0YegI .btn-text {
    padding-top: 0;
}
.cid-rgVqi0YegI .card-box {
    width: 100%}
.cid-rgVqCjXHWa {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
@media (max-width:768px) {
    .cid-rgVqCjXHWa .title-wrap {
    padding-bottom: 2rem;
}
}.cid-rgVqDuLwTz {
    padding-top: .5rem;
    padding-bottom: 0;
}
@media (min-width:1400px) {
    .cid-rgVqDuLwTz .container-fluid {
    padding-right: 1rem;
    padding-left: 1rem;
}
}.cid-rgVqDuLwTz .card-box {
    z-index: 10;
    opacity: 0;
    transition: all .3s;
    width: fit-content;
}
.cid-rgVqDuLwTz .m-top {
    margin-top: 10px;
}
.cid-rgVqDuLwTz .gallery-img-wrap {
    height: auto;
}
.cid-rgVqDuLwTz .gallery-img-wrap:after {
    background: #000;
}
.cid-rgVqDuLwTz .iconfont-wrapper {
    width: calc(1rem + 1rem);
    height: calc(1rem + 1rem);
    background-color: transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.cid-rgVqDuLwTz .amp-iconfont {
    font-size: 1rem;
    width: 1rem;
    color: #000;
}
@media (min-width:991px) {
    .cid-rgVqDuLwTz .card-box {
    padding: 10px;
    background: 0 0;
    width: 68%}
}@media (max-width:576px) {
    .cid-rgVqDuLwTz .card-box {
    opacity: 0;
}
.cid-rgVqDuLwTz .card-wrapper:hover .card-box, .cid-rgVqDuLwTz .card1 {
    opacity: 1;
}
.display-9 {
    color: #fff!important;
}
.cid-rgVqDuLwTz .gallery-img-wrap:after {
    opacity: .1;
}
}.cid-rgVqDuLwTz .card-wrapper {
    height: auto;
    position: relative;
    z-index: 1;
}
@media (max-width:991px) {
    .cid-rgVqDuLwTz .card-wrapper {
    flex-wrap: wrap;
}
}.cid-rgVqDuLwTz .card-wrapper:hover .gallery-img-wrap:after {
    opacity: .5;
}
.cid-rgVqDuLwTz .card-wrapper:hover .card-box, .cid-rgVqDuLwTz .card1 {
    opacity: 1;
}
.cid-rgVqDuLwTz .card-wrapper:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.cid-rgVqDuLwTz .card1:hover .icon {
    padding-left: 1rem;
}
.cid-rgVqDuLwTz .crad1hover:after {
    opacity: 0;
}
.cid-rgVqLqLO6T {
    padding-top: 2rem;
    padding-bottom: 0;
    background-color: #fff;
}
@media (min-width:1400px) {
    .cid-rgVqLqLO6T .container-fluid {
    padding-right: 3.5rem;
    padding-left: 3.5rem;
}
}
.cid-rgVr6nrTA4 .tag-list {
    list-style-type: none;
    padding: 0;
}
.cid-rgVr6nrTA4 .tag-list li {
    display: inline-block;
    color: #1D1F1F;
    font-size: 16px;
    line-height: 1.518em;
    letter-spacing: .35px;
    margin-bottom: 15px;
}
.cid-rgVr6nrTA4 .pill {
    margin: 5px;
    padding: 6px 21px;
    -webkit-border-radius: 50px 50px 50px 50px;
    border-radius: 50px;
    border: 1px solid #ccc;
    background-color: #fff;
    display: block;
    color: #000;
    font-size:14px;
    font-weight: 600;
}
.cid-rgVr6nrTA4 #Recent_Searches {
     width: 89%;
    margin: 0 auto;
}

.cid-rhbP4MQmLL .container-fluid {
    max-width: 95%;
}


.pill:hover {
    color: #fff;
    border: 1px solid #156c97;
    font-weight: 500;
    background: #156c97;
}

#header05-b {
    padding: 0 0 20px;
    background:#000;
}
.sticky {
    padding-bottom: 0!important;
}

.cid-rhcs85IV2r .container {
    width:  1270px;
    margin:  0 auto;
}


.SearCh_Img {
    position: relative;
    float: right;
}
.search .fa {
    position:  absolute;
    
    top:  46%;
    
    left:  21%;
    
        -webkit-transform:  translateY(-50%);
    
    transform:  translateY(-50%);
    
}
.search .fa {
    color: #000;
}
.sticky {
    position: fixed;
    top: 0;
    z-index:9;
    width: 100%;
    padding:19px 0px !important;
}
.sticky .fa {
    position:  absolute;
    top:  18%;
    -webkit-transform:  translateY(-50%);
    transform:  translateY(-50%);
}
.sticky  .media-types .fa {
    margin-left: 84px;
    font-size: 20px;
    font-weight: 700;
    top: 10px;
}
.sticky .header-search__input {
    padding: 1.25em 2em 1.25em 4.5em !important;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
color: #c2c2c2;
    font-size: 16px;
    line-height: 1.15;
    border: none;
    overflow: visible;
}



.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #333;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #666;
}

.sidenav .closebtn {
  position: absolute;
  top: -14px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 36px;}
  .sidenav a {font-size: 18px;}
}



.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 17px;
  color: #000;
  display: block;
  transition: 0.3s;
}



.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


  #mySidenav .panel-group .panel {
        border-radius: 0;
        box-shadow: none;
        border-color: #EEEEEE;
        border:none;
    }

    #mySidenav .panel-default > .panel-heading {
        padding: 0;
        border-radius: 0;
        color: #212121;
        background-color: #fff;
        border-color: #fff;
    }

   #mySidenav  .panel-title {
        font-size: 14px;
    }

    #mySidenav .panel-title > a {
        display: block;
        padding:3px 29px;
        text-decoration: none;
    }

    #mySidenav .more-less {
        float: right;
        color: #666;
        font-size: 22px;
        font-weight: 600;
    }

    #mySidenav .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top-color: #EEEEEE;
        border:none !important;
            padding: 0px 15px;
    }
#mySidenav .panel-heading h4 a{
    font-size:15px;
}
#mySidenav ul li{
    list-style:none;
}
#mySidenav{
font-family: Trebuchet MS;
}
.cid-rgVq9otPo6{
    padding:0px;
}
@media screen and (max-height: 500px) {
  .sidenav {
    padding-top: 37px;
}
  .sidenav a {
    font-size: 18px;
  }
 
}
@media screen and (max-width: 1199px) {
.header-search__container{
    width:100% !important;
}
}
@media screen and (min-width: 767px) {
 .header-search__container{
     display: flex !important;
  }
    }
@media screen and (max-width: 500px) {
 .header-search__container{
     display: inline-block !important;
  }
  .header-search__media-filter{
    background:#fff;
  }
  .header-search__selected-label{
    border-left:none !important;
    text-align:center;
  }
  .cid-rgVr6nrTA4 .tag-list li{
    margin-bottom:0px !important;
  }
  .header-search__input{
    text-overflow: ellipsis !important;
  overflow: hidden !important; 

  white-space:nowrap;
  display:inline-block;
    font-size:12px !important;
  }
  #title02-8 .display-2{
    padding-top:0px !important;
  }
  .display-2{
    padding-top:0px !important;
    padding-bottom:13px !important;
  }
  .dropdown{
    width:100% !important;
  }
  .dropdown-menu{
    margin-left:0px !important;
    top:31px !important;
    left:0px !important;
  }
  .header-search__main-area .fa{
    margin-top:11px !important;
  }
  .sticky .fa{
    top: 22% !important;
  }
  .header-search__main-area .sticky .fa{
    top:27% !important;
  }
  #title02-8{
    padding-top:16px !important;
  }
  .cid-rhbP4MQmLL {
    padding-top:10px !important;
     padding-bottom: 0px !important;
  }
    .Small{
    display:inline-block !important;
}
}
.Large{
    display:inline-block;
  }
.Small{
    display:none !important;
}
.header-search__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex ;
       width: 55%;
       margin:0 auto;
    background-color: #FFFFFF;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border: 1px solid #080808;
    height:58px;
        transition: all .5s ease;
}
.header-search__main-area {
    position: relative;
    /* display: -webkit-box; */
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 3;
    -ms-flex: 3 0 auto;
    flex: 3 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    /* align-items: center; */
}
.header-search__main-area .fa{
    margin-top: 18px;
    margin-left: 20px;
    font-size: 21px;
}
.header-search__input {
    padding: 1.25em 2em 1.25em 1.5em !important;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
       color: #c2c2c2;

    font-size: 15px;
    line-height: 1.15;
    border: none;
    overflow: visible;
}
.header-search__container.focused .header-search__media-filter {
    display: block;
    margin-top:-1px;
}
.header-search__media-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.75em 0;
    border-top: none;
}
.header-search__media-filter {
    position: relative;
    display: none;
    min-width: 175px;
    padding: 10px 10px 10px 15px;
    border-top: 1px solid #080808;
    cursor: pointer;
}
.header-search__selected-label {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-right: 1em;
    padding-left: 1em;
    border-left: 1px solid #CCCCCC;
}
.media-types .fa{
        margin-left: 25px;
    font-size: 20px;
    font-weight: 700;
}
.dropdown-menu {
    position: absolute;
    top: 37px;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 161px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0px;
    width: 100%;
    margin-left: -15px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.dropdown-toggle{
        color: #000;
    font-weight: 600;
    font-size:16px;
}
.header-search__selected-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}


/*topnav css*/
.topnav {
  overflow: hidden;
  background-color: #000;
  float:right;
  margin-top:8px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 17px;
}





.topnav .icon {
  display: none;
}
.Logo_Img{
    width:50%;
    margin:0 auto;
}
.Hidden_Dsk{
    display:none;
}
@media screen and (max-width: 767px) {
.header-search__container{
    width:100% !important;
    margin:0 auto;
}
  .Small{
    display:inline-block !important;
}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .responsive{
    float:none !important;
  }
   .Logo_Img{
    width:100% !important;
    margin:0 auto;
}
.Hidden_Dsk{
    display:block;
    font-size:27px !important;
    color:#fff;
    margin-top:6px;
}
}

@media screen and (max-width: 767px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .col-xs-5{
    padding-left:0px;
      width: 40%;
  }
  .paddIng_Cls{
    padding-left:10px;
      

  }
  .topnav{
    margin-top:8px;
  }
  .navbar-logo img{
    margin-top:7px;
    width:170px;
  }
  #title02-8 h4 {
    text-align: left;
    width: 100% !important;
    margin: 0 auto;
        font-size: 14px !important;

}
.Worlds_Collection{
    padding-bottom:0px !important;
        font-size: 20px !important;
}
.contacts-block{
    margin-top:-35px;
}
.display-4 {
    color: #fff;
    margin: 6px;
    line-height: 24px;
}

}
.cid-rhbP4MQmLL {
    padding-top: 33px;
    padding-bottom: 35px;
    background-color: #000;
}
.white {
    color: #fff;
}
.display-7 {
    color:#fff;
    font-size: 15px;
    font-weight: 600;
        margin-top: -3px;
}
.display-4 {
    color: #fff;
    margin: 6px;
  
}
.Worlds_Collection {
    text-align: center;
    color: #ffffffa8;
    font-size: 27px;
        padding-bottom: 45px;
}
@media (min-width: 1400px){
.cid-rhbP4MQmLL .container-fluid, .cid-rhcs85IV2r .container-fluid {
    max-width: 93%;
}
}
#title02-8 h4{
    color:#333;
}
.display-9 {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.3;
    color: #fff;
}
.cid-rgVr6nrTA4 {
    padding-top: 2rem;
    margin-top: 0px;
    padding-bottom: 3rem;
    background-color: #eee;
}
.cid-rgVqDuLwTz {
    padding-top: 8px;
    padding-bottom: 0;
    background: #000;
    padding-bottom: 8px;
}
.pill:hover {
    color: #fff;
    border: 1px solid #156c97;
    font-weight: 500;
    background: #156c97;
    text-decoration: none;
}
#title02-8 h4 {
    text-align: center;
    width: 793px;
    margin: 0 auto;
    line-height: 31px;
    font-size: 17px;
    padding-top: 0px;
}
#title02-8 .display-2 {
   
    padding-top: 25px;
    padding-bottom: 20px;
}
@media screen and (min-device-width: 500px) and (max-device-width: 1024px) {
.header-search__input{
padding:1.25em 1em 1.25em 1.5em !important;
font-size:13px;
    }
}
::placeholder {
    color:#cacaca;
}
