.searchDiv{
    display: flex;
    flex-direction: row;
    background: #fff;
    width: 60% !important;
    height: 58px;
    padding: 2px;
}

.inputDiv{
    display: flex; 
    justify-content: center;
}

.inputDiv fieldset input{
    border: 0;
}


.searchInput{
    /* height: 100%;
    width: 100%; */
    font-size: 24px;
    margin-left: 8px;
    line-height: 1.15;
    outline: none;
    border: none;
    font-family: Trebuchet MS !important;
}



.sSelect{
    border: none;
    height: fit-content;
    font-size: 1rem;
    outline: none;
    color: #675757c9;
    font-weight: 500;
    font-size: 24px;
    padding: 0px 20px 0px 0px;
    font-family: Trebuchet MS !important;
}

.sSelect *{
    position: relative;
    top: 42px!important;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 174px;
    padding: 5px 0;
    margin: 2px 0 0 -22px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    width: 100%;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
}
.formcontroldrop{
    margin: 0px !important;
    padding: 2px 10px 2px 23px !important;
    border-left: 1px solid #ccc !important;
}
.formcontroldrop fieldset{
    border-width: 0px !important;
}
.formcontroldrop > div:nth-child(1){
    font-size: 24px !important;
    font-weight: 500;
    font-family: Trebuchet MS !important;
    color: #675757c9;
}
.formcontroldrop > div:nth-child(1) > div:nth-child(1) {
    min-height: auto !important;
    padding: 0px 0px !important;
}

/* .sSelect *:hover{
    background-color: #f5f5f5 !important;
}

.sSelect *:active{
    background-color: #f5f5f5;
}

.sSelect *:focus{
    background-color: #f5f5f5;
}

.sSelect *:target{
    background-color: #f5f5f5;
}

.sSelect *:focus-visible{
    background-color: #f5f5f5;
} */

.searchBtn{
    background: #575757 !important;
    height: 57px !important;
    width: 57px;
}

.searchIcon{
    color: #333;
    margin-top: 16px;
    margin-left: 20px;
    position: relative;
    font-size: 20.3px;
    top: 1px;
}

.dropDiv{
    display: inline-block;
    /* justify-content: flex-start; */
    width: 25.5%;
    align-items: center;
    position: relative;
}

@media (max-width: 767px){
    .sSelect{
        font-size: 16px;
        padding: 0px 10px 0px 0px;
    }
    .dropDiv {
        width: 30%;
    }
    
}