.imgSec{
   margin-top: 30px;
}

.gridSec{
    margin: 7% 0;
}

.imgDiv{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
}

.whiteSec{
    background: #fff;
    padding: 3% 13%;
    color: #363c45;
}

.chooiceHead{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin-top: 0;
}

.choiceContent{
    text-align: center;
    width: 100%;
    margin: 0 auto;
    line-height: 31px;
    font-size: 18px;
    padding-top: 0;
    font-weight: 400;
    color: #333;
    padding-bottom: 25px;
}

.kMore{
    color: #337ab7 !important;
}
